

  
  <main role="main">

    <div style="margin-top: 80px;">
      <div class="container">
  
        <div *ngIf="pinss" class="row">
          <div *ngFor="let pins of pinss" class="col-md-4" id="">
            <div class="card mb-4 shadow-sm">
              <img [routerLink]="['/detailsPins']" [queryParams]="{id:pins.id}"
              class="hatImage" src={{pins.image}} alt="Photo of a Shiba Inu">
        
              <div class="card-body">
                <div  class="d-flex justify-content-between align-items-center">
                  
                  <small class="text-muted">{{pins.name}}</small>
                </div>
              </div>
            </div>
          </div>
          