
  <div *ngIf="product" class="card" style="width: 18rem;">

      <h2>{{product.name}}</h2>
      <img class="card-img-top" [src]="product.image" alt="Card image cap">
      <div><span>מחיר: </span>{{product.price}}</div>
      <form class="form-signin" #form (ngSubmit)="onSubmit()" [formGroup]="signInForm" >

      <div>
        <h3>בחר מידה:
          <select formControlName="sizeOfTheHat" name="size" id="size">
            <option *ngFor="let size of arrSize" value="50">{{size.size}}</option>
          </select>     
         </h3>
      </div>
  <div>
    <h4>
      בחר רוחב שוליים:
      <select formControlName="widthOfTheHat" name="width" id="width">
        <option *ngFor="let width of arrWidth" value="7">{{width.width}} ס"מ</option>
        
      </select>     
    </h4>
  </div>
      <button>הוסף לסל</button>
        <br>
        <br>
        <a routerLink='/shipping'>מחיר משלוח</a>
      <br>
      <button (click)="goBack()">חזרה</button>
    
      
</form>
    </div>
