<div class="text-center">
  
    <hr>
    
      <form class="form-signin" #form (ngSubmit)="onSubmit()" [formGroup]="signInForm" >
        <h2 class="h3 mb-3 font-weight-normal">אנא היכנס</h2>
        <br><br>
        <label for="inputEmail" class="sr-only">Email address</label>
        
        <input type="name" id="inputName" formControlName="name" class="form-control" placeholder="שם פרטי" required autofocus>
        <br>
        <input type="lastName" id="inputLastName" formControlName="lastName" class="form-control" placeholder="שם משפחה" required autofocus>
        <br>
        <input type="addres" id="inputAddres" formControlName="addres" class="form-control" placeholder="כתובת" required autofocus>
        <br>
        <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder=" אימייל" required autofocus>
        <br>
        <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="צור סיסמה" required>
        <div class="checkbox mb-3">
          <br><br>
          <label>
            <input type="checkbox" value="remember-me"> זכור אותי
          </label>
        </div>
        <br><br>
        <button [disabled]="signInForm.invalid" (click)="onSubmit()" type="submit" routerLink='/'>אישור</button>        
        <br>
        
        
        
    </form>
    </div>
    <router-outlet></router-outlet>