  <div *ngIf="product" class="card" style="width: 18rem;">
      <h2>{{product.name}}</h2>
      <img class="card-img-top" [src]="product.image" alt="Card image cap">
      <div><span>מחיר: </span>{{product.price}}</div>
      <div>
        <h3>בחר מידה:
        {{product.size}}
        </h3>
      </div>
      <button (click)="addToCart(product)">הוסף לסל</button>
        <br>
        <br>
        <a routerLink='/shipping'>מחיר משלוח</a>
      
      <button (click)="goBack()">חזרה</button>
    
      
  </div>

  