<div class="Background" style="background-image: url(https://xcdn.next.co.uk/common/items/default/default/sitemaps/X57/storefronts/international/privacy/bg.gif);background-repeat: no-repeat;background-position: top;">
    <div class="StorefrontContent OverflowFixer " style="height: 2800px; ">
      <!-- DO NOT REMOVE -->
      <div class="Grid" data-index="03_1" style="top:0px;right:0px;height:2800px;">
        <div class="Component Text  " style="width:960px;height:2800px;color: aliceblue;">
          <div class="Body" style="width:960px;height:2800px;font-family:azo-sans-web;font-size:12px;">
					
							<h1 style="font-size:32px; letter-spacing:1px; text-align: right; font-family: azo-sans-web;">אודות רשת חנויות עולם הכובע כובעי פוקס</h1>
				
				<p style="font-size:11px; letter-spacing:1px; text-align: right; font-family: azo-sans-web ">
                </p>רשת כובעי פוקס הוקמה ב 1980 כחנות מפעל בתל אביב<br>
                במהלך השנים עברנו עם הייצור אל מעבר לים ,וכיום אנחנו עובדים עם כמה מפעלים בכמה ממדינות אירופה<br>
                בינייהם איטליה ופולין ועוד מספר מדינות ממייצרי הכובעים הגדולים בעולם<br>
                כיום אנחנו מחזיקים בנתח שוק גדול מאוד בקרב המגזר שצורך כובעים <p></p>		
							<h2 style="font-size:20px; letter-spacing:1px; text-align: right; font-family: azo-sans-web;colour:#333333; font-weight: 400; text-transform: capitalize;">מידע על סניפי הרשת</h2>
                            <p style="font-size:11px; text-align: right; font-family: azo-sans-web; ">כיום אנו מונים ארבעה סניפים בפריסה ארצית  </p>
                            <ul>
                                <li>חנות המפעל בני ברק רחוב רש"י 29<br>טלפון: 03:5790970</li>
                                <li>חנות המפעל ירושלים רחוב חגי 16<br>טלפון: 02:5002930</li>
                                <li>חנות קריית ספר רחוב שדי חמד 29<br>טלפון: 08:9477305</li>
                                <li>חנות בית שמש רחוב נחל שורק 31<br>טלפון: 02:5699974</li>

                            </ul>
							
							
							
							
							<h2 style="font-size:20px; letter-spacing:1px; text-align: right; font-family: azo-sans-web;colour:#333333; font-weight: 400; text-transform: capitalize;">יצירת קשר</h2>
                            <p style="font-size:11px; text-align: right; font-family: azo-sans-web;  ">אם הינך מעוניין ליצור קשר אם בעלי האתר <a routerLink='/contact'> לחץ כאן</a></p>
                            																
						</div>
        </div>
      </div>
    </div>
  </div>