.text-center{
    text-align: center;
  border: 3px solid white;
     /* padding: 50%; 
    font-size: large; */
    


}
#inputEmail{
    height: 50px;
    width: 250px;
    
}

#inputPassword{
    height: 50px;
    width: 250px;
}
h2{
    color: brown;
    text-align: center;
}
p{
    color: blue;
    border-bottom: blue;
}
input{
    
}